@font-face {
  font-family: 'DKU';
  src: url('DANKOOK_FONT.TTF') format('truetype');
}

.headline{
  font-family: 'DKU';
  font-size:large;

  background:rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  
  padding: 20px;
  max-width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  

  border: 3px solid #ccc;
  border-radius: 30px;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
  filter: blur(5px) brightness(0.4);
}

.container {
  background:rgba(255, 255, 255, 0.6);
  border: 3px solid #ccc;
  border-radius: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;

  max-width: 50%;
  min-width: max-content;

  padding: 20px;
  margin: auto;
}

.img-container {
	display: flex;
  position: relative;
}

#profile {
  max-width: max-content;

  border: 2px solid #000000;
  border-radius: 30px;
}

#imageNum {
  font-family: 'DKU';
  font-size:x-small;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;

  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  
  border-radius: 5px;
}

.text-icon-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.text-container {
  font-family: 'DKU';
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

.icon-container {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 200px;
}

.youtube {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;

  border-radius: 30px;
}

.youtube iframe {
  padding: 20px;

  max-width: 50%;
  min-width: max-content;

  border-radius: 30px;
  border: 3px solid #ccc;
}
