.headline{
  display: flex;
  align-items: center;
  justify-content: center;
  }
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;

    border: 3px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
  }
  